*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

background:
linear-gradient(
135deg,
#5B21B6,
#2563EB,
#06B6D4);

}

.blob{

position:absolute;

border-radius:50%;

filter:blur(80px);

animation:move 15s infinite alternate;

opacity:.5;

}

.blob1{
width:300px;
height:300px;
background:#9333ea;
top:-80px;
left:-50px;
}

.blob2{
width:250px;
height:250px;
background:#22c55e;
bottom:-80px;
right:-50px;
}

.blob3{
width:180px;
height:180px;
background:#06b6d4;
top:50%;
left:60%;
}

@keyframes move{

100%{

transform:
translate(100px,-100px)
scale(1.3);

}

}

.container{

width:430px;

padding:35px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.2);

border-radius:25px;

box-shadow:
0 20px 50px rgba(0,0,0,.25);

color:white;

}

h1{

display:flex;
align-items:center;
gap:10px;

font-size:28px;

margin-bottom:8px;

}

p{

opacity:.8;

margin-bottom:25px;

}

.passwordBox{

display:flex;

background:white;

border-radius:15px;

overflow:hidden;

margin-bottom:20px;

}

.passwordBox input{

flex:1;

border:none;

padding:18px;

font-size:17px;

outline:none;

}

.passwordBox button{

width:60px;

border:none;

background:#2563eb;

color:white;

cursor:pointer;

font-size:18px;

transition:.3s;

}

.passwordBox button:hover{

background:#1e40af;

}

.slider{

margin:20px 0;

}

.range{

display:flex;

align-items:center;

gap:15px;

margin-top:8px;

}

.range input{

width:100%;

accent-color:#38bdf8;

}

.options{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin:20px 0;

}

.options label{

display:flex;

gap:10px;

align-items:center;

cursor:pointer;

}

input[type="checkbox"]{

accent-color:#38bdf8;

transform:scale(1.2);

}

#generate{

width:100%;

padding:17px;

font-size:17px;

border:none;

border-radius:15px;

cursor:pointer;

background:
linear-gradient(
90deg,
#3b82f6,
#06b6d4);

color:white;

font-weight:600;

transition:.35s;

}

#generate:hover{

transform:translateY(-3px);

box-shadow:
0 10px 25px
rgba(0,0,0,.3);

}

.strength{

height:8px;

border-radius:50px;

background:rgba(255,255,255,.2);

overflow:hidden;

margin-top:15px;

}

.strength-bar{

height:100%;

width:40%;

background:#ef4444;

transition:.4s;

}

@media(max-width:500px){

.container{

width:92%;

padding:25px;

}

.options{

grid-template-columns:1fr;

}

}